<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is weather app. You can get forecast for your location.</p>
        <img class="me" src="/img/me.jpg" alt="Nature">
    </div>
    
    
    {{>footer}}
</body>

</html>