<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.jpg">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    
    
    {{>footer}}
</body>

</html>