<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.jpg">
    <link href="/css/style.css" rel="stylesheet">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <b>Search weather for your location.</b>
        <br><br>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="p1"></p>
        <p id="p2"></p>
    </div>
    
    <script src="/js/style.js"></script>
    {{>footer}}
</body>

</html>